@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya';
    src: url('src/assets/fonts/Alegreya-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('src/assets/fonts/AlegreyaSC-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('src/assets/fonts/AlegreyaSC-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('src/assets/fonts/AlegreyaSC-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('src/assets/fonts/AlegreyaSC-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya';
    src: url('src/assets/fonts/Alegreya-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('src/assets/fonts/Alegreya-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya';
    src: url('src/assets/fonts/Alegreya-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('src/assets/fonts/AlegreyaSC-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('src/assets/fonts/Alegreya-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('src/assets/fonts/AlegreyaSC-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('src/assets/fonts/Alegreya-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('src/assets/fonts/AlegreyaSC-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('src/assets/fonts/Alegreya-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('src/assets/fonts/AlegreyaSC-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('src/assets/fonts/AlegreyaSC-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya';
    src: url('src/assets/fonts/Alegreya-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('src/assets/fonts/Alegreya-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('src/assets/fonts/AlegreyaSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya';
    src: url('src/assets/fonts/Alegreya-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('src/assets/fonts/AlegreyaSC-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('src/assets/fonts/AlegreyaSansSC-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}
